{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ category.name }}{% endblock %}

{% block body %}
    <h1>Category: <span>{{ category.name }}</span></h1>

    <div class="articles">
        {% for article in articles %}
            {{ article.title }}
        {% endfor %}
    </div>
{% endblock %}
