<div class="about-me">
    <p>Howdy, I'm a full stack developer in Maryland. I focus on PHP-based development usually with Symfony, Drupal, or WordPress<br></p>
    <img src="{{ asset('images/me.jpg') }}" alt="A handsome photo of Andrew">
</div>