<footer class="footer">
    <div class="container">
        <nav class="nav-footer">
            <ul>
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><a href="{{ path('app_about') }}">About</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; {{ "now"|date('Y') }} AndrewAdcock.com. Built with Symfony.
        </div>
    </div><!-- conatianer -->
</footer>