<div class="metadata">
    <div class="published">
        {{ article.publishedAt|date('m/d/Y h:ia') }}
    </div>
    <div class="categories">
        Categories: TODO: Add Categories
    </div>
</div>
