.header {
  background: #384e39 url('../../images/header.png') center center no-repeat;
  background-size: cover;
  border-bottom: 4px solid $body-bg;
  color: $white;
  text-align: center;

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $brand-light;
      text-decoration: none;
    }
  }
}

.logo {
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 68px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 80px;
}

.title {
  font-family: 'Bangers', cursive;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.social,
.nav-main {
  ul {
    margin: 0 auto;

    li {
      display: inline-block;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.social {
  span {
    display: none;
  }
}

.nav-main {
  ul {
    margin: 0.4rem auto;
    li {
      border-left: 1px solid $white;
      padding: 0 0.4em;

      &:first-of-type {
        border-left: none;
      }
    }
  }
}