{% extends 'base.html.twig' %}

{% block body %}
    <h1>I make some things</h1>
    <p>I am Andrew Adcock, a web developer and programmer based in Baltimore, Maryland. I have been building websites for over a decade. My most recent work has been as lead developer with Ainsley & Co. Previous experience includes work as a developer at Art Comp & Design. During my work as a developer I have also taught web development and design at Howard Community College. I wrote a course for my work at Howard Community College on mobile app development; the content included Android and iOS.</p>

    <p>I work as a full stack developer. I work primarily on LAMP stacks; but am experienced with MEAN and IIS. My preferred focuses are PHP, JavaScript, and front-end. I am proficient with SASS/LESS, task runners, such as Gulp and Grunt, package managers, such as Bower and NPM, and WordPress.</p>

    <p>I started this blog to share some of the fun things I have learned over the years. After graduating the top of my class from clown college, I struggled to find consistent work. Although the major circuses were interested in hiring me, I found them to be distant and too profit-oriented to fit my clowning style. I wandered through the birthday party and celebration circuit for a time, but found a new passion when developing the website for my personal clowning business. I decided that web development was my true calling, and have been working in the field ever since. Writing posts helps me solidify my understanding of concepts and code. I hope that my experience as a developer, and former clown*, will help others too!</p>
{% endblock %}