{% extends 'base.html.twig' %}

{% block title %}Contact Form Submissions{% endblock %}

{% block body %}
    <h1>All Contact Form Submissions</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td><a href="{{ path('admin_contact_single', {id: contact.id}) }}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}