{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
   {% include '@widgets/metadata.html.twig' %}

    <div class="article-content">
        {{ articleContent|raw }}
    </div>

    <div class="share">
        <ul>
            <li class="twitter">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li class="facebook">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
            </li>
            <li class="linkedin">
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://www.linkedin.com"></script>
            </li>
        </ul>

    </div>




{#    <div class="comments">#}
{#        Todo: Add comments#}
{#    </div>#}
{% endblock %}
